root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = false

[*.md]
indent_size = 2
insert_final_newline = true

[*.rb]
indent_size = 2

[Rakefile]
indent_size = 2

[*.cr]
indent_size = 2

[*.yml]
indent_size = 2
